<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="2" parallel="methods" thread-count="2"> 

<listeners> 
<listener class-name="testNG.ListenersExamples"></listener>
</listeners>

<test name="Test cases">

<!-- <parameter name="NameSheik" value="DuckSheik"></parameter> -->

<classes>
<class name = "testNG.SampleTestCase"></class>
</classes>


</test>

</suite >


<!--
<class name = "testNG.DependenciesManagement"></class>
<class name = "testNG.DriveCar"></class>
<class name = "testNG.DriveCar"></class>
<class name = "testNG.SampleTestCase"></class>
<class name = "testNG.SkipATestCase"></class> 
<class name = "testNG.GroupingExamples"></class>
<class name="testNG.ParameterizationExamples"></class>
<class name="testNG.ParallelTesting"></class>
<groups>
	<run>
	
	<include name="Moto"></include>
	<include name="Vivo"></include>
	
	</run>
</groups>
-->
